        /* รีเซ็ตพื้นฐาน */
        h3 {
            color: #555;
            background-color: #e0e0e0;
            padding: 10px;
            border-left: 5px solid #999;
        }
        h2 {
            color: #ffffff;
            background-color: #007bff;
            padding: 15px;
            border-radius: 8px;
            width: fit-content;
        }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        /* ===== Navbar ===== */
        .navbar {
            background-color: #333;
            padding: 10px 0;
        }

        .navbar ul {
            list-style: none;
            text-align: center;
        }

        .navbar ul li {
            display: inline-block;
            margin: 0 15px;
        }

        .navbar ul li a {
            color: white;
            text-decoration: none;
            font-size: 18px;
        }

        .navbar ul li a:hover {
            color: #ffcc00;
            text-decoration: underline;
        }

        /* ===== Love Box ===== */
        .love {
            max-width: 200px;
            padding: 40px;
            margin: 40px auto;
            text-align: center;
            color: white;
            background-image: url("https://tse4.mm.bing.net/th/id/OIP.L0Omkk0IVF02YtbXQR3QVwHaIQ?rs=1&pid=ImgDetMain&o=7&rm=3");
            background-size: cover;
            background-position: center;
            border-radius: 15px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        }

        /* ===== Link Section ===== */
        .git {
            text-align: center;
            margin: 30px 0;
        }

        .git a {
            color: #0066cc;
            font-size: 18px;
            text-decoration: none;
        }

        .git a:hover {
            color: #ff6600;
        }

        /* ===== Table ===== */
        .kol table {
            width: 60%;
            margin: 30px auto;
            border-collapse: collapse;
        }

        .kol td {
            border: 1px solid #333;
            padding: 10px;
            text-align: center;
        }

        .kol tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .kol tr:hover {
            background-color: #ddd;
        }

        button {
            padding: 12px 30px;
            font-size: 18px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.3s;
            display: block;
            margin: 40px auto;


        }

        /* ตอนเอาเมาส์ชี้ */
        button:hover {
            background-color: #45a049;
            transform: scale(1.05);
        }

        /* ตอนกดปุ่ม */
        button:active {
            background-color: #3e8e41;
            transform: scale(0.98);
        }

        .center {
            text-align: center;
        }


